<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Inico</ion-card-subtitle>
        <ion-card-title>Bem Vindo ao Sistema CerradoTuppApp</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Agora que seu aplicativo foi criado, você vai querer começar a criar recursos e componentes. Confira alguns dos recursos abaixo para as próximas etapas.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Coteúdo</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Documentação do Ionic</ion-label>
      </ion-item>
    </ion-list>

    <button ion-button secondary menuToggle>Menu</button>
</ion-content>
